<!-- <app-header></app-header> -->

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: rgb(44, 113, 240); color: antiquewhite; font-size: x-large;background: url('https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5924.jpg?w=826&t=st=1701887635~exp=1701888235~hmac=019327f4784c5833728dc341f2a4baca8602d1fecee0109dbd95a75b2067ce92') no-repeat center center fixed; background-size: cover; width: 100%;
height: 430px;">
    
    <div style="margin-top: 20px;padding: 20px; background-color: rgba(0, 0, 0, 0.7); font-size: xx-large; font-family: 'Times New Roman', Times, serif;">
    Welocome, To the world Readers
    <br><br> Book World Studio
   </div>
</div>
