.example-card {
  max-width: 50%;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.search{
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}

.srch {
  background-color: burlywood; /* Choose your desired background color */
}

.example-card {
  opacity: 0.95; 
  transition: opacity 0.3s ease-in-out; 
  background-color: rgb(247, 235, 217);
}

.example-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the box shadow as needed for the hover effect */
  transform: scale(1.05); /* Adjust the scale for a zoom-in effect on hover */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add a smooth transition effect */
  opacity: 1;
}
