<div style="padding: 10px; background-color: black; background-image: url('https://img.freepik.com/premium-photo/exclamation-mark_72104-1345.jpg?w=1060');background-repeat: no-repeat;background-size: 100% 200px;">
    <h2 mat-dialog-title style="color: rgb(26, 27, 27);">Can't Borrow!!</h2>
<div mat-dialog-content class="mat-typography" style="color: aliceblue;">
  <h3>Your are the issuer of this Book, So you can't borrow it</h3> 
</div>
<div mat-dialog-actions style="right: 0;">
  <button mat-button mat-dialog-close style="color: #201a1a; background-color: aliceblue;">OK</button>
  
</div>
</div>
